@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #52489c;
    --primary-dark: #1f252e;
}

html, body {
    overflow-x: scroll; /* Permite el scroll horizontal */
    scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
}

body {
    background: #ffffff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    
}
.SkillBox {
    margin: 0px 30px 30px 0px;
    border: 3px solid var(--primary-color);
}
